<!DOCTYPE html>
<html>
<head>
  <title>Concesionaria</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="header">
      <h1>Concesionaria</h1>
    </div>
    <div class="row">
    <div id="menu" class="span2">
      <ul>
        <li><%= link_to strongify('Inicio'), root_url  %></li><!--#es un 
        #helpers-->
        <li><%= link_to 'Marcas', brands_path  %></li><!--#es un 
        #helpers#url ruta de todo el sitio #path ruta de la raiz del proyecto-->
        <li><%= link_to 'Clientes', customers_path  %></li>
        <li><%= link_to 'tipo de vehiculo', vehicle_types_url  %></li>
      </ul>
    </div>
    <div id="content" class="span10" >

  <%= yield %>
    </div>
   </div>
    <div id="footer">
      &copy; <%= Time.now.year %> -Concesionaria
    </div>
  </div>
</body>
</html>
